.wakaruHeaderLogo,
.wakaruHeaderbtnlist {
display: none;
}

.aboutService,
.topLogo {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.topLogo img {
    margin: 25px 0;
    width: 112px;
}

.aboutServiceText {
    font-size: 13px;
    line-height: 2em;
}

.loginBtn {
    margin-bottom: 15px;
    background-color: #B49674;
}

.entryBtn {
    background-color: #E65F6E;
}

.topLogin {
    margin-bottom: 40px;
}

.moya{
    background-color: rgb(168, 214, 245);
    border-radius: 80% 30% 40% 20%/30% 50% 70% 90%;
}
 
.eigo{
    font-size: 16px;
    font-weight:550;
 
}

.indexcontent {
    width: 100%;
    margin: 0 auto;
}

.mainImg img {
    width: 100%;
}

.aboutContent,
.aboutServic {
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
}

.aboutContent img {
    width: 80%;
}


.aboutServicBox1 {
    background-color: #FCF8F5;
    padding: 40px 0;
}

.aboutServicBox1 img {
    width: 70%;
}

.aboutServicBox2 {
    padding: 40px 0 0;
}

.aboutServicBox2 img {
    width: 80%;
}

.lettryBox {
    background-color: #FCF8F5;
    padding: 35px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.lettryBox img {
    width: 86px;
}

