.scoerBox {
    display: flex;
    margin-right: 16px;
}

.scoerBoxTitle {
    font-style: 13px;
    margin-right: 15px;
    letter-spacing: 0.05em;
}

.scoerBoxCount,
.scoerBoxSlash,
.scoerQuestionsNumber {
	font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.scoerBoxSlash {
    margin: 0 5px;
}

.questionsOneContent {
    width: 90%;
    padding: 0 0 20px;
    margin: 30px auto 0;
    border-bottom: 1px solid #D8D8D8;
}

.questionsOneContent:last-child {
    border: none;
}

.questionsOnebox {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.questionsWordId {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    background-color: #FF8200;
    color: white;
    padding: 15px 10px;
    border-radius: 3px;
}
.questionsStatusContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionsStatusBox {
    display: flex;
    align-items: center;
}

.questionsCountBox {
    text-align: center;
}

.questionsAnswerWord { 
    font-size: 20px;
    font-weight: bold;
}

.questionsStatus {
    margin-right: 12px;
}

.questionsCountTitle {
    font-size: 14px;
    margin-bottom: 5px;
}

.questionsCount {
    font-size: 16px;
    font-weight: bold;
}

.btnContent {
    margin-bottom: 40px;
    border-top: 2px solid #D8D8D8;
    padding-top: 30px;
}
