<!DOCTYPE html>
<html lang="JP">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="stylesheet.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>WAKARU ENGLISH</title>
</head>
<body>
    <header class="wakaruHeader">
        <div class="wakaruHeaderLogo"><img src="static/img/logo.png" alt="WAKARU ENGLISH"></div>
        <ul class="wakaruHeaderbtnlist">
            <li><a class="btnLogoutHeader" href="/">ログアウト</a></li>
            <li><a class="btnHomeHeader" href="/"><img src="static/img/topicon.png"></a></li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
        <p class="textCopylight">© 2021 team torch</p>
    </footer>
</body>
</html>