
{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exam.css') }}">
<section class="numberQuestionsContent">
    <div class="questionsWhatNumber">1</div>
    <div>/</div>
    <div class="questionsAll">5</div>
</section>
<section class="questionsAudioContent">
  <!-- 音声再生用 -->
    <audio controls>
        <source src="../static/audio/3_past.mp3">
    </audio> 
<!-- 音声再生用 -->
    <p class="audioAnnotation">※イヤホンをつけることを推奨します。<p>
</section>>
<section class="Answer column">

</section>

{% endblock %}