{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <section class="topLogo">
         <h1><p><img src="static/img/toplogo.png" alt="WAKARU ENGLISH"></p></h1>
    </section>
    <section class="aboutService">
        <main>
            <p class="aboutServiceText">
                英語を喋る上で動詞の英単語はとても大切です。<br>
                効率よく学習するには、普段会話で使う動詞の英単語をまず覚えることです。<br>
                また、動詞には、過去形や過去完了を表すedが付く規則動詞、edが付かない不規則動詞もあります。<br>
                ここを覚えれば、英語への理解がぐっと深まります。<br>
                そこで、楽しく、効率良く学べる、<br> そんなWEBアプリケーションがこちらです。
            </p>
    </main>
    </section>
    <section class="topLogin btnContent">
        <div><a class="loginBtn btn" href="/">ログインはこちら</a></div>
        <div><a class="entryBtn btn" href="/entry">新規会員登録する</a></div>
    </section> 
{% endblock %}