{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<div class="indexcontent">
    <section class="mainImg">
        <img src="/static/img/mainimg@2x.png">
    </section>
    <section class="topLogin btnContent">
        <div><a class="loginBtn btn" href="/login">ログインはこちら</a></div>
        <div><a class="entryBtn btn" href="/entry">新規会員登録する</a></div>
    </section> 

    <section class="aboutContent">
        <img src="/static/img/test_01@2x.png">
    </section>
    <section class="topLogin btnContent">
        <div><a class="entryBtn btn" href="/entry">新規会員登録する</a></div>
    </section> 
    <section class="aboutServic">
        <div class="aboutServicBox1">
            <img src="/static/img/step1@2x.png">
        </div>
        <div class="aboutServicBox2">
            <img src="/static/img/step2@2x.png">
        </div>
    </section>

    <section class="lettryBox">
        <div>
            <img src="/static/img/iconimg@2x.png">
            <div><a class="entryBtn btn" href="/entry">新規会員登録する</a></div>
        </div>
    </section>
</div>
{% endblock %}