<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <main>
    <!-- 音声再生用 -->
        <audio controls>
            <source src="../static/audio/3_past.mp3">
        </audio> 
    <!-- 音声再生用 -->

    <!-- 一覧表示用 -->
    <table border="1">
        {%for item in html_wordlist %}
        <tr>
            <th>{{item["word_id"]}}</th>
            <th>
                <audio controls>
                    <source src="../static/audio/{{item['voice_past']}}">
                </audio>
            </th>            
            <th>{{item["past"]}}</th>
            <th>{{item["past"]}}</th>
            <th>
                {{item["past"]}}
            </th>
        </tr>
        {% endfor %}
    </table>
    <!-- 一覧表示用 -->

    </main>
</body>
</html>