{% extends 'base.html' %}
{% block content %}
<link href="mypage.css" rel="stylesheet">
<h1 class="pageTitle">マイページ</h1>
<section class="levelBox">
    <h2 class="leveltitle">レベル7</h2>
    <p class="levelText basicText">動詞の過去形を聞いて、入力しよう！</p>
    <ul class="descriptionBox">
        <li class="">聞いて</li>
        <li class="">入力</li>
    </ul>
    <div class="">
        <div><a href="exam" class="btn examtartBtn examstart">テストスタート</a></div>
        <div><a href="exam" class="btn wordlistBtn">単語一覧を見る</a></div>
        <div><a href="exam" class="btn clearBtn examClear">クリア</a></div>
    </div>
</section>


{% endblock %}