{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wordlist.css') }}">
<h1 class="pageTitle pageTitle">単語一覧</h1>
<main>
    <section class="questionsListContent">
        <div class="leveltitleBox titlestyle"> 
            <h2 class="leveltitle">レベル7</h2>
            <dl class="scoerBox">
                <dt class="scoerBoxTitle">complete数</dt>
                <dd class="scoerBoxCount">5</dd>
                <dd class="scoerBoxSlash">/</dd>
                <dd class="scoerQuestionsNumber">78</dd>
            </dl>
        </div>  
        {%for item in html_wordlist %}
        <div class="questionsOneContent">
            <ul class="questionsOnebox">
                <li class="questionsAudio">
                    <p class="questionsWordId">{{item["word_id"]}}</p>
                    <audio controls>
                        <source src="../static/audio/{{item['voice_past']}}">
                    </audio>
                </li>
            </ul>
            <ul class="questionsStatusContent">
                <p class="questionsOneboxArrow"><img src="static/img/arrow.png"></p>
                <li class="questionsAnswerWord">◯◯◯◯◯◯◯◯◯◯</li>
                <li class="questionsStatus">
                    <img src="static/img/correctanswer.png"> 
                </li>
                <li>
                    <ul class="questionsCountbox">
                        <li class="questionsCountTitle">間違った数</li>
                        <li class="questionsCount">00</li>
                    </ul> 
                </li>
            </ul>
        </div>
        {% endfor %}
    </section>
    <div class="btnContent"><a class="btn topBack" href="/">トップに戻る</a></div>
</main>
{% endblock %}